*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    height: 100%;
    border: 2px solid black;
}

.homeBanner{
    height: 100vh;
    border: 2px solid rgb(255, 255, 255);
}

.bannerBody{
    height: 100%;
    border: 2px solid blue;
}

.oneStopShop{
    height: 60vh;
    border: 2px solid blueviolet;
}

.courtesyCars{
    height: 40vh;
    border: 2px solid red;
}

.wideRangeOfService{
    height: 80vh;
    border: 2px solid green;
    background-color:  #01153e;
    color:  #C0C0C0;
}

.wideRangeTitle{
    height: 20%;
    border: 2px solid red;
}

 hr{
    width: 50%;
    height: 4px;
    background-color:  #000;
    margin: 1% auto;
    border: none;
}

.wideRangeImage1{
    height: 100%;
    border: 2px solid red;
    width: 100%;
}

.wideRangeTitle h1 {
    font-size: 2.8rem;
    /* margin: 0 30%; */
    text-align: center;
}

.wideRangeInfo{
    display: flex;
    height: 80%;
    border: 2px solid orange;
    width: 100%;
    padding: 0 5%;
}

.wideRangeImage{
    height: 100%;
    border: 2px solid lightgreen;
    width: 50%;
}

.wideRange{
    height: 100%;
    border: 2px solid lime;
    width: 50%;
    padding: 5%;
}

.wideRange p{
    padding: 2% 0;
    left:0%;
}

.memberOfTheRmi{
    height: 80vh;
    border: 2px solid orange;
    color: #01153e;
    background-color: #C0C0C0;
}

.memberOfTheRmiTitle{
    height: 20%;
    border: 2px solid red;
}

.memberOfTheRmiInfo{
    height: 80%;
    border: 2px solid orange;
    display: flex;
    width: 100%;
    padding: 0 5%;
}
.memberOfTheRmiImage{
    height: 100%;
    border: 2px solid olive;
    width: 50%;
}

.memberOfTheRmiImage1{
    width: 100%;
    height: 100%;
}

.memberOfTheRmiText{
    height: 100%;
    border: 2px solid red;
    width: 50%;
    padding: 5%;
}

.memberOfTheRmiTitle h1 {
    font-size: 2.8rem;
    /* margin: 0 30%; */
    text-align: center;
}

.gallery{
    height: 80vh;
    border: 2px solid pink;
}

.footer{
    height: 40vh;
    border: 2px solid brown;
}

.services{
    height: 60vh;
    border: 2px solid purple;
}

.approvals{
    height: 60vh;
    border: 2px solid cyan;
}

.contact{
    height: 60vh;
    border: 2px solid grey;
    display: flex;
}

.aboutUs{
    height: 100%;
    border: 2px solid lightblue;
    width: 50%;
}

.contactUs{
    height: 100%;
    border: 2px solid yellow;
    width: 50%;
}

@media only screen and (min-width: 601px) {
    div.mainDiv {
      width: 100%;
    }
  }